* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}

.js-preloader{
    display: none;
}

.header-area{
    position: sticky;
    display: flex;
    align-items: center;
    width: 100vw;
    height: 90px;
    background-color: transparent;
    z-index: 3;
}

.header-area a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.main-nav{
    display: flex;
    align-items: center;
}

#logo-link {
    position: absolute;
    left: 12vw;
    line-height: 36px;
    color: #fff;
    font-size: 32px;
    font-weight: 600;
    float: left;
    transition: color 0.7s ease 0s;
}

#logo-link:hover {
    color: #F9C200;
    transition: color 0.7s ease 0s;
}

#logo-link em {
    font-style: normal;
    color: #F9C200;
    font-weight: 600;
    transition: color 0.7s ease 0s;
}

#logo-link:hover em{
    color: #fff;
    transition: color 0.7s ease 0s;
}

.header-area .nav {
    position: absolute;
    right: 0;
    margin-right: 20vw;
    transition: all 0.3s ease 0s;
}

.main-nav li {
    padding-left: 20px;
    padding-right: 20px;
    transition: all 0.3s ease 0s;
}

.main-nav li a {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 1px;
    color: #fff;
    transition: all 0.3s ease 0s;
}

.main-nav li:hover a/*,.main-nav a.active */{
    color: #F9C200;
}


main{
    position: absolute;
    width: 100vw;
    overflow: hidden;
    top: 0;
    left: 0;
    padding: 0;
}

.main-page{
    position: relative;
    width: 100%;
    padding: 0;
}

#customer-home-page{
    height: 100vh;
    background: url("../assets/images/home-bg.jpg") no-repeat bottom;
    background-size: cover;
}


.page-overlay .caption {
    position: absolute;
    text-align: center;
    width: 80%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.page-overlay .caption h6 {
    margin-top: 0;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    letter-spacing: .5px;
}

.page-overlay .caption h4 {
    margin-top: 10px;
    font-size: 28px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    letter-spacing: 1px;
}

.page-overlay .caption h4:nth-child(2) {
    color: #F9C200;
}

.page-overlay .caption h2 {
    margin-top: 55px;
    margin-bottom: 0;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    letter-spacing: 1px;
}

.page-overlay .caption h2 em {
    font-style: normal;
    color: #F9C200;
    font-weight: 600;
}

.middle-button {
    --c1: #F9C200;
    --c2: #fff;
    --c3: #000;
    position: absolute;
    left: 50%;
    transform: translateX(-60%);
    color: var(--c2);
    font-size: 17px;
    background-color: var(--c1);
    border-radius: 0.5em;
    width: 12em;
    height: 3em;
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 0.2em;
    text-align: center;
    line-height: 3em;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    margin: 1em;
}

.middle-button span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--c2);
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}

.middle-button:hover {
    color: var(--c3);
    cursor: pointer;
}

.middle-button:hover span {
    transform: translateY(0) scale(2);
}

.middle-button span:nth-child(1) {
    --n: 1;
}

.middle-button span:nth-child(2) {
    --n: 2;
}

.middle-button span:nth-child(3) {
    --n: 3;
}

.middle-button span:nth-child(4) {
    --n: 4;
}