* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.js-preloader{
    display: none;
}

.header-area{
    position: fixed;
    display: flex;
    align-items: center;
    width: 100vw;
    height: 90px;
    background-color: transparent;
    z-index: 3;
}

.header-area a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.main-nav{
    display: flex;
    align-items: center;
}

#logo-link {
    position: absolute;
    left: 12vw;
    line-height: 36px;
    color: #fff;
    font-size: 32px;
    font-weight: 600;
    float: left;
    transition: color 0.7s ease 0s;
}

#logo-link:hover {
    color: #F9C200;
    transition: color 0.7s ease 0s;
}

#logo-link em {
    font-style: normal;
    color: #F9C200;
    font-weight: 600;
    transition: color 0.7s ease 0s;
}

#logo-link:hover em{
    color: #fff;
    transition: color 0.7s ease 0s;
}

.header-area .nav {
    position: absolute;
    right: 0;
    margin-right: 20vw;
    transition: all 0.3s ease 0s;
}

.main-nav li {
    padding-left: 20px;
    padding-right: 20px;
    transition: all 0.3s ease 0s;
}

.main-nav li a {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 1px;
    color: #fff;
    transition: all 0.3s ease 0s;
}

.main-nav li:hover a,
.main-nav a.active {
    color: #F9C200;
}


main{
    position: absolute;
    width: 100vw;
    overflow: hidden;
    top: 0;
    left: 0;
    padding: 0;
}

.main-page{
    position: relative;
    width: 100%;
    padding: 0;
}

#customer-home-page,
#customer-booking-page{
    height: 100vh;
    background: url("../assets/images/home-bg.jpg") no-repeat bottom;
    background-size: cover;
}

.page-overlay{
    position: relative;
    width: 100%;
    height: 100%;
}

.page-overlay .caption {
    position: absolute;
    text-align: center;
    width: 80%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.page-overlay .caption h6 {
    margin-top: 0;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    letter-spacing: .5px;
}

.page-overlay .caption h4 {
    margin-top: 10px;
    font-size: 28px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    letter-spacing: 1px;
}

.page-overlay .caption h4:nth-child(2) {
    color: #F9C200;
}

.page-overlay .caption h2 {
    margin-top: 55px;
    margin-bottom: 0;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    letter-spacing: 1px;
}

.page-overlay .caption h2 em {
    font-style: normal;
    color: #F9C200;
    font-weight: 600;
}

#customer-home-page .middle-button{
    --c1: #F9C200;
    --c2: #fff;
    --c3: #fff;
    --c4: #000;
}

.page-overlay .booking-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 75%;
    height: 55%;
    background-color: #eeb600;
}

.booking-heading-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
}

.booking-heading-container > h3{
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 35px;
}

.booking-form-container{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 58%;
}

.booking-form-container > form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    height: 100%;
}

.form-row{
    position: relative;
    display: flex;
    width: 100%;
    height: 50px;
    overflow: hidden;
    justify-content: space-between;
}

.form-row .input-group{
    position: relative;
    top: 0;
    height: 100%;
    display: inline-flex;
    background-color: white;
}

.form-row button{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 190px;
    border-radius: 11px;
    background-color: #243849;
    color: #F9C200;
    text-transform: uppercase;
    font-size: 14px;
    transition: all 0.3s ease 0s;
}

.form-row button:hover{
    color: #FFF;
}

#customer-booking-page .form-row:first-child>.input-group{
    width: calc(100% - 220px);
}

#customer-booking-page .form-row:nth-child(2)>.input-group,
#customer-booking-page .form-row:nth-child(3)>.input-group{
    width: 48.5%;
    align-items: center;
}

#customer-booking-page .form-row:nth-child(2)>.input-group:nth-child(1)>span,
#customer-booking-page .form-row:nth-child(3)>.input-group:nth-child(1)>span{
    width: 25%;
    height: 25px;
    text-align: center;
    background-color: white;
    align-items: center;
}

#customer-booking-page .form-row:nth-child(2)>.input-group:nth-child(2)>span,
#customer-booking-page .form-row:nth-child(3)>.input-group:nth-child(2)>span{
    width: 25px;
    height: 25px;
    margin: 15px 10px;
    color: black;
    text-align: center;
    background-color: white;
    align-items: center;
}

#customer-booking-page .form-row:last-child>.input-group{
    width: 29%;
}

#customer-booking-page .form-row:last-child>.input-group:last-child{
    width: 35%;
    align-items: center;
    /*background-color: #F9C200;*/
}

#customer-booking-page .form-row:last-child>.input-group:last-child>label{
    position: absolute;
    margin: 5%;
    left: 0;
    height: 20px;
    color: #1E2E3C;
}

#customer-booking-page .toggle-button{
    position: absolute;
    align-self: center;
    left: 70%;
}

#customer-booking-page .middle-button{
    --c1: #243849;
    --c2: #F9C200;
    --c3: #FFF;
    --c4: #1E2E3C;
}