* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.js-preloader{
    display: none;
}

.header-area{
    position: fixed;
    display: flex;
    align-items: center;
    width: 100vw;
    height: 90px;
    background-color: transparent;
    z-index: 3;
}

.header-area a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.main-nav{
    display: flex;
    align-items: center;
    justify-content: end;
}

.logo-link {
    position: absolute;
    left: 12vw;
    line-height: 36px;
    color: #fff;
    font-size: 32px;
    font-weight: 600;
    float: left;
    transition: color 0.7s ease 0s;
}

.logo-link:hover {
    color: #F9C200;
    transition: color 0.7s ease 0s;
}

.logo-link em {
    font-style: normal;
    color: #F9C200;
    font-weight: 600;
    transition: color 0.7s ease 0s;
}

.logo-link:hover em{
    color: #fff;
    transition: color 0.7s ease 0s;
}

.header-area .nav {
    position: relative;
    right: 0;
    margin-right: 8vw;
    transition: all 0.3s ease 0s;
}

.main-nav li {
    padding-left: 20px;
    padding-right: 20px;
    transition: all 0.3s ease 0s;
}

.main-nav li a {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 1px;
    color: #fff;
    transition: all 0.3s ease 0s;
}

.main-nav li:hover a,
.main-nav a.active {
    color: #F9C200;
}

.main-nav li:hover a.active {
    color: #EEB600;
}

.main-nav .header-button-container{
    position: relative;
    right: 0;
    margin-left: 30px;
}

.main-nav .header-button-container .header-button {
    margin-left: 10px;
    margin-right: 10px;
    height: 40px;
    width: 120px;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    transition: all 0.3s ease 0s;
}

#common-header-area .header-button-container .header-button {
    border: 2px solid #EEB600;
    background-color: transparent;
    color: #F9C200;
}

#common-header-area .header-button-container .header-button.active {
    border: 2px solid #b80f0f;
    color: #d01111;
}

#common-header-area .header-button-container .header-button:hover {
    border: 2px solid #c9c9c9;
    background-color: transparent;
    color: #CCCCCC;
}


main{
    position: absolute;
    width: 100vw;
    overflow: hidden;
    top: 0;
    left: 0;
    padding: 0;
}

.main-page{
    position: relative;
    width: 100%;
    padding: 0;
}

.main-page-bg-div{
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.page-overlay{
    position: relative;
    width: 100%;
    height: 100%;
}

#common-home-page{
    height: 100vh;
    background: url("../assets/images/common-bg.jpg") no-repeat bottom;
    background-size: cover;
}

#common-home-page .main-page-bg-div{
    width: 100%;
    height: 100%;
}

#common-home-page .main-page-bg-div .bg-div:nth-child(1){
    flex-grow: 2;
    background-color: #1E2E3C;
}

#common-home-page .main-page-bg-div .bg-div:nth-child(2){
    flex-grow: 1;
    background-color: #EEB600;
}

#common-home-page .page-overlay{
    display: flex;
    justify-content: end;
}

#common-home-page .page-overlay .caption {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    width: 47%;
    height: 100%;
}

#common-home-page .page-overlay .caption h2 {
    margin-top: 10px;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 600;
    color: #FFF;
    letter-spacing: 1px;
}

#common-home-page .page-overlay .caption h3 {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 600;
    color: #F9C200;
    letter-spacing: 1px;
}

#common-home-page .page-overlay .caption h6 {
    margin-left: 4px;
    font-size: 14px;
    font-weight: 500;
    color: #FFF;
    letter-spacing: 1.5px;
}

#common-home-page .middle-button{
    --c1: #EEB600;
    --c2: #fff;
    --c3: #fff;
    --c4: #000;
    display: none;
}


#login-register-page{
    height: 100vh;
    background: url("../assets/images/login-bg.jpg") no-repeat bottom;
    background-size: cover;
}

#login-register-page .page-overlay{
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000;
}

.flipper {
    position: relative;
    padding: 30px;
    width: 40vw;
    height:50vh;
    background: #EEB600;
    transition: all 0.9s ease 0s;
    transform-style: preserve-3d;
}

.front, .back {
    /*background-color: rgba(0,0,0,.9);*/
    position: absolute;
    padding:10px 30px;
    top: 0;
    left: 0;
    right: 0;
    backface-visibility: hidden;
}

.front{
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: rotateY(0deg);
    z-index: 2;
}

.back{
    transform: rotateY(180deg);
}

.flip{
    transform: rotateY(180deg);
}

.flip-button{
    color:#1E2E3C;
    text-decoration:none;
    text-align: center;
    transition: all 0.3s ease 0s;
}

.flipper input{
    width:100%;
    margin-bottom:15px;
    height:40px;
    box-sizing: border-box;
    padding:10px;
}

.title{
    text-align: center;
}

#login-register-page .heading-container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
}

#login-register-page .heading-container h1{
    margin-top: 10px;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 600;
    color: #FFF;
    letter-spacing: 1px;
}

#login-register-page .login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 60%;
    height: 40%;
    margin-top: 20px;
    margin-bottom: 20px;
}

#login-register-page .form-row{
    margin-top: 10px;
    margin-bottom: 10px;
}

#login-register-page .form-row .input-group input{
    width: 100%;
    height: 100%;
}

.login-form .form-row{
    width: 100%;
}

#login-register-page .middle-button{
    --c1: #243849;
    --c2: #F9C200;
    --c3: #FFF;
    --c4: #1E2E3C;
}








#customer-home-page,
#customer-booking-page{
    height: 100vh;
    background: url("../assets/images/home-bg.jpg") no-repeat bottom;
    background-size: cover;
}

#customer-home-page .page-overlay .caption {
    position: absolute;
    text-align: center;
    width: 80%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

#customer-home-page .page-overlay .caption h6 {
    margin-top: 0;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    letter-spacing: .5px;
}

#customer-home-page .page-overlay .caption h4 {
    margin-top: 10px;
    font-size: 28px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    letter-spacing: 1px;
}

#customer-home-page .page-overlay .caption h4:nth-child(2) {
    color: Transparent;
}

#customer-home-page .page-overlay .caption h4:nth-child(2) a {
    text-decoration: none;
    color: #F9C200;
}

#customer-home-page .page-overlay .caption h2 {
    margin-top: 55px;
    margin-bottom: 0;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    letter-spacing: 1px;
}

#customer-home-page .page-overlay .caption h2 em {
    font-style: normal;
    color: #F9C200;
    font-weight: 600;
}

#customer-home-page .middle-button{
    --c1: #EEB600;
    --c2: #fff;
    --c3: #fff;
    --c4: #000;
}

.page-overlay .booking-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 75%;
    height: 55%;
    background-color: #eeb600;
}

.booking-heading-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
}

.booking-heading-container > h3{
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 35px;
}

.booking-form-container{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 58%;
}

.booking-form-container > form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    height: 100%;
}

.form-row{
    position: relative;
    display: flex;
    width: 100%;
    height: 50px;
    overflow: hidden;
    justify-content: space-between;
}

.form-row .input-group{
    position: relative;
    top: 0;
    height: 100%;
    display: inline-flex;
    background-color: white;
}

.form-row button{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 190px;
    border-radius: 11px;
    background-color: #243849;
    color: #F9C200;
    text-transform: uppercase;
    font-size: 14px;
    transition: all 0.3s ease 0s;
}

.form-row button:hover{
    color: #FFF;
}

#customer-booking-page .form-row:first-child>.input-group{
    width: calc(100% - 220px);
}

#customer-booking-page .form-row:nth-child(2)>.input-group,
#customer-booking-page .form-row:nth-child(3)>.input-group{
    width: 48.5%;
    align-items: center;
}

#customer-booking-page .form-row:nth-child(2)>.input-group:nth-child(1)>span,
#customer-booking-page .form-row:nth-child(3)>.input-group:nth-child(1)>span{
    width: 25%;
    height: 25px;
    text-align: center;
    background-color: white;
    align-items: center;
}

#customer-booking-page .form-row:nth-child(2)>.input-group:nth-child(2)>span,
#customer-booking-page .form-row:nth-child(3)>.input-group:nth-child(2)>span{
    width: 25px;
    height: 25px;
    margin: 15px 10px;
    color: black;
    text-align: center;
    background-color: white;
    align-items: center;
}

#customer-booking-page .form-row:last-child>.input-group{
    width: 29%;
}

#customer-booking-page .form-row:last-child>.input-group:last-child{
    width: 35%;
    align-items: center;
}

#customer-booking-page .form-row:last-child>.input-group:last-child>label{
    position: absolute;
    margin: 5%;
    left: 0;
    height: 20px;
    color: #1E2E3C;
}

#customer-booking-page .toggle-button{
    position: absolute;
    align-self: center;
    left: 70%;
}

#customer-booking-page .middle-button{
    --c1: #243849;
    --c2: #F9C200;
    --c3: #FFF;
    --c4: #1E2E3C;
}


#common-cars-page,
#customer-cars-page{
    height: 100vh;
    background: url("../assets/images/cars-bg.jpg") no-repeat bottom;
    background-size: cover;
}

#common-cars-page .middle-section,
#customer-cars-page .middle-section{
    position: absolute;
    margin: 0;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 60%;
}

#common-cars-page .section-title,
#customer-cars-page .section-title {
    margin: 0;
    padding-bottom: 50px;
    text-align: center;
}

#common-cars-page .section-title h3,
#customer-cars-page .section-title h3 {
    position: relative;
    font-size: 40px;
    margin-bottom: 50px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    color: #FFF;
    font-weight: 700;
    line-height: 42px;
}

#common-cars-page .section-title h3 span,
#customer-cars-page .section-title h3 span{
    color: #F9C200;
}

#common-cars-page .section-title h3:after,
#customer-cars-page .section-title h3:after {
    position: absolute;
    content: '';
    background: #F9C200;
    height: 2px;
    width: 60px;
    bottom: -30px;
    left: 50%;
    margin-left: -30px;
}

#common-cars-page .section-title h3:before,
#customer-cars-page .section-title h3:before {
    position: absolute;
    content: '';
    background: #F9C200;
    height: 9px;
    width: 4px;
    bottom: -33px;
    left: 50%;
    margin-left: -2px;
}

#common-cars-page .section-title p,
#customer-cars-page .section-title p {
    max-width: 800px;
    margin: auto;
    color: #c9c9c9;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
}


#common-cars-page .main-carousel,
#customer-cars-page .main-carousel{
    position: absolute;
    bottom: 0;
    left: 12.5%;
    width: 75vw;
}


#common-cars-page .car-list,
#customer-cars-page .car-list{
    position: relative;
    width: 75vw;
    height: 33.15vh;
}

#common-cars-page .car-list .car,
#customer-cars-page .car-list .car{
    display: flex;
    width: 75vw;
    height: 33.15vh;
}

#common-cars-page .car-list .car-tag,
#customer-cars-page .car-list .car-tag{
    width: 25%;
    height: 33.15vh;
}

#common-cars-page .car-list .car-tag h3,
#customer-cars-page .car-list .car-tag h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: #F9C200;
    margin: 30px 0 0 0;
}

#common-cars-page .car-list .car-tag .subtitle,
#customer-cars-page .car-list .car-tag .subtitle {
    position: relative;
    color: #888;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

#common-cars-page .car-list .car-tag .subtitle:after,
#customer-cars-page .car-list .car-tag .subtitle:after {
    position: absolute;
    content: '';
    width: 40px;
    height: 5px;
    background: #F9C200;
    left: 0;
    bottom: 0;
}

#common-cars-page .car-list .car-tag .car-price strong,
#customer-cars-page .car-list .car-tag .car-price strong {
    font-size: 48px;
    color: #DDD;
    font-family: 'Open Sans', sans-serif;
    line-height: 48px;
    font-weight: 700;
}

#common-cars-page .car-list .car-tag .car-price span,
#customer-cars-page .car-list .car-tag .car-price span {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    vertical-align: top;
    color: #999;
    display: inline-block;
    margin-top: 5px;
}

#common-cars-page .car-list .car-tag .btn,
#customer-cars-page .car-list .car-tag .btn{
    display: block;
    background: #333;
    margin-top: 20px;
    color: #fff;
    text-transform: uppercase;
    border-radius: 0;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
}

#common-cars-page .car-list .car-image,
#customer-cars-page .car-list .car-image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 33.15vh;
}

#common-cars-page .car-list .car-image img,
#customer-cars-page .car-list .car-image img{
    width: 85%;
    margin: 0;
}

#common-cars-page .car-list .car-info,
#customer-cars-page .car-list .car-info{
    position: relative;;
    width: 25%;
    height: 33.15vh;
    background-color: #EEB600;
    color: #FFF;
}

#common-cars-page .car-list .car-info ul,
#customer-cars-page .car-list .car-info ul{
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 20px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#common-cars-page .car-list .car-info ul li,
#customer-cars-page .car-list .car-info ul li{
    position: relative;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255,255,255,0.3);
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
}

#common-cars-page .car-list .car-info span,
#customer-cars-page .car-list .car-info span{
    font-weight: 700;
}

#common-cars-page .car-list-controls,
#customer-cars-page .car-list-controls{
    position: relative;
    height: 80px;
    width: 100%;
}

#common-cars-page .car-list-nav,
#customer-cars-page .car-list-nav{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

#common-cars-page .car-list-nav div,
#customer-cars-page .car-list-nav div{
    position: relative;
    display: flex;
    align-self: center;
    justify-content: center;
    color: #CCC;
    cursor: pointer;
    margin-left: 12px;
    margin-right: 12px;
    height: 40px;
    width: 40px;
    border: 3px solid #CCC;
    border-radius: 100%;
    transition: all 0.3s ease 0s;
}

#common-cars-page .car-list-nav div:hover,
#customer-cars-page .car-list-nav div:hover{
    border: 3px solid #F9C200;
    color: #F9C200;
}

#common-cars-page .car-list-nav i,
#customer-cars-page .car-list-nav i {
    display: flex;
    align-self: center;
    justify-content: center;
    height: auto;
}
